* {
    line-height: 1.4em;
    padding: 0;
    margin: 0;
}

.ascii {
    white-space: pre;
    font-family: monospace;
    line-height: 0.36rem;
    letter-spacing: -0.17rem;
    overflow: hidden;
}

#equation {
    position: absolute;
    top: 1em;
    right: 1em;
    background: #fff;
    padding: 0.25em 1em;
}

#main {
    position: absolute;
    top: 0;
}

#content {
    background-color: #fff;
    margin: 7.1em;
    padding: 1em;
    position: relative;
    width: 28em;
    overflow: auto;
}

#homelink {
    margin-bottom: 1em;
}

h1 {
    padding-bottom: 1em;
}

#projects {
    margin-bottom: 15em;
}

.project, .clock {
    float: left;
    min-width: 13em;
    margin-right: 1em;
    padding: 0.15em;
}
.project:nth-child(odd) {
    clear: left;
    margin-right: 0;
}

.project .description {
    display: none;
    position: absolute;
    bottom: 4em;
    left: 1em;
}

.project:hover > * {
    display: block;
}

.contact a {
    display: inline-block;
    margin-right: 1em;
}

.clock {
     margin-bottom: 0.25em;
     clear: left;
}

.clock .label {
    font-weight: bold;
}

