{% extends "layout.html" %}
{% block body %}
<p>
    <q>I remember tumbling into a huge dust-hole when a very small boy, but I have not the faintest recollection of ever getting out again</q>
    <span class="caption">--- Jerome K. Jerome, <em>Idle Thoughts of an Idle Fellow</em></span>
</p>

<div class="typodecay">
    <p><strong>Mouse Reeve</strong> is an excellent typist, and her code is wholly without bugs. Her writting is syntactically sound and her formulations semantically communicative.</p>
</div>

<script src="static/js/lib/jquery-3.2.1.min.js"></script>
<script src="static/js/lib/typodecay.js"></script>
{% endblock %}
