{% extends "layout.html" %}
{% block body %}

<div class="clock">
    <p class="label">12 hour</p>
    <p id="twelve"></p>
</div>

<div class="clock">
    <p class="label">24 hour</p>
    <p id="twentyfour"></p>
</div>

<div class="clock">
    <p class="label">Reversed</p>
    <p id="reverse"></p>
</div>
<div class="clock">
    <p class="label">Hexadecimal reversed</p>
    <p id="hexreverse"></p>
</div>
<div class="clock">
    <p class="label">Hexadecimal color reversed</p>
    <p id="hexcolorreverse"></p>
</div>
<div class="clock">
    <p class="label">Hexadecimal color</p>
    <p id="hexcolor"></p>
</div>
<div class="clock">
    <p class="label">Hexadecimal</p>
    <p id="hex"></p>
    </p>
</div>
<div class="clock">
    <p class="label">Ternary</p>
    <p id="ternary"></p>
</div>
<div class="clock">
    <p class="label">Binary</p>
    <p id="binary"></p>
</div>
<div class="clock">
    <p class="label">Negabinary</p>
    <p id="negabinary"></p>
</div>
<div class="clock">
    <p class="label">Negaternary</p>
    <p id="negaternary"></p>
</div>
<div class="clock">
    <p class="label">Negadecimal</p>
    <p id="negadecimal"></p>
</div>
<div class="clock">
    <p class="label">Base hour</p>
    <p id="basehour"></p>
</div>
<div class="clock">
    <p class="label">Roman numeral</p>
    <p id="roman"></p>
</div>
<div class="clock">
    <p class="label">Percent of day elapsed</p>
    <p id="elapsed"></p>
</div>
<div class="clock">
    <p class="label">Percent of day remaining</p>
    <p id="remaining"></p>
</div>
<div class="clock">
    <p class="label"><em>The Titanic</em> played...</p>
    <p id="titanic"></p>
</div>

<script src="static/js/clocks.js"></script>
{% endblock %}
