<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mouse Reeve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/format.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>

    <header>
        <div class="ascii">{{ ascii_header }}</div>
        <h1>Mouse Reeve</h1>
        <nav>
            <ul>
                <li><a href="https://twitter.com/tripofmice" target="_blank">twitter</a></li>
                <li><a href="https://github.com/mouse-reeve" target="_blank">github</a></li>
                <li><a href="https://blog.mousereeve.com" target="_blank">blog</a></li>
                <li><a href="mailto:mousereeve@riseup.net">email</a></li>
                <li>
                    <code>{{ function }}</code>, place value <code>{{ placevalue }}</code>
                </li>
            </ul>
        </nav>
    </header>

    <section id="main">
        <div class="card">
            <h2>the antiquated omi</h2>
        </div>

        oulipo.social brand new facts fortunes The Antiquated Omi grimoire.org allalonenow.com pgp
    </section>

    <footer>
        <p>
            Mouse Reeve<br>
            PO Box 22562<br>
            San Francisco, CA 94122
        </p>
    </footer>
</body>
</html>
