{% macro project(title, url, collab, collab_url) %}
<div class="project">
    <p class="title">
        <a href="{{ url }}">{{ title }}</a>
        {% if collab %}<small>with <a href="{{ collab_url }}" target="_blank">{{ collab }}</a></small>{% endif %}
    </p>
    <p class="description">
        {{ caller() }}
    </p>
</div>
{% endmacro %}
{% extends "layout.html" %}
{% set is_index = true %}
{% block body %}
<h1>Mouse Reeve</h1>
<div id="projects">
{% call project('gnossiennes',
                'https://gnossiennes.mousereeve.com/') %}
Erik Satie forever
{% endcall %}

{% call project('unfamiliar city',
                'https://unfamiliar.city/') %}
A guide for the offbeat traveler
{% endcall %}

{% call project('dockerlang',
                'https://github.com/connorwalsh/dockerlang',
                'Connor Walsh',
                'http://polygon.pizza/') %}
A Turing-complete language based on docker containers
{% endcall %}

{% call project('in the key of OCR',
                'https://soundcloud.com/tripofmice') %}
Converting sheet music to audio with OCR and text to speech
{% endcall %}

{% call project('oulipo.social',
                'https://oulipo.social/') %}
A Dcntralizd and Fdratd Social Ntwork
{% endcall %}

{% call project('antiquated omi',
                'https://omi.mousereeve.com/') %}
A novel in collaboration with Ernest Hemingway and the Wordnik API
{% endcall %}

{% call project('bird facts',
                 'https://twitter.com/bird_facts_bot') %}
More like bird malicious gossip
{% endcall %}

{% call project('all alone now',
                'https://www.allalonenow.com/',
                'Emily E. Meo',
                'https://www.emilyemeo.com/'
                ) %}
Are we alone in the universe? In the world?
{% endcall %}

{% call project('brand new facts',
                 'https://twitter.com/brand_new_facts') %}
The hottest new facts, fresh from the oven
{% endcall %}

{% call project('grimoire.org',
                'https://www.grimoire.org/') %}
Indexing historical texts on magic and the occult
{% endcall %}

{% call project('clocks',
                '/clocks') %}
How much longer do I have left
{% endcall %}

{% call project('drift',
                'http://www.julialemke.com/index/#/drift/',
                'Julia Lemke',
                'http://www.julialemke.com/'
                ) %}
To Make a Dadaist Poem...
{% endcall %}
</div>

<div class="contact">
    <a href="mailto:mousereeve@riseup.net">email</a>
    <a href="https://twitter.com/tripofmice" target="_blank">twitter</a>
    <a rel="me" href="https://friend.camp/@tripofmice" target="_blank">mastodon</a>
    <a href="https://github.com/mouse-reeve" target="_blank">github</a>
</div>

{% endblock %}
