<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mouse Reeve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/format.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Mouse Reeve">
    <meta name="og:title" content="Mouse Reeve">
    <meta name="twitter:description" content="Mouse Reeve writes code at the Internet Archive, writes more code for fun, and spends a lot of time thinking about nonsense.">
    <meta name="og:description" content="Mouse Reeve writes code at the Internet Archive, writes more code for fun, and spends a lot of time thinking about nonsense.">
    <meta name="twitter:creator" content="@tripofmice">
    <meta name="twitter:site" content="@tripofmice">

    <meta name="twitter:image" content="https://www.mousereeve.com/static/images/selfie.jpg">
    <meta name="og:image" content="https://www.mousereeve.com/static/images/selfie.jpg">
    <meta name="twitter:image:alt" content="A photo of Mouse Reeve">
</head>

<body>

    <div class="ascii" aria-hidden="true">{{ ascii_header }}</div>

    <div id="equation" aria-hidden="true"><a href="https://github.com/mouse-reeve/placevalue_ascii">{{ function }}</a>, place value {{ placevalue }}</div>
    <div id="main">
        <div id="content">
            {% if not is_index %}<p id="homelink"><a href="/">home</a></p>{% endif %}
            {% block body %}{% endblock %}
        </div>
    </div>

</body>
</html>
